:root{
  --myBlue: #01639c;
  --myYellow: rgb(223, 182, 2);
  --myGray: rgb(238, 236, 236);
  --myWhite: #fff;
  --myDark: #222;
}

body{
  background-color: var(--myWhite);
  color: var(--myDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 100;
  letter-spacing: 0.25rem !important;
}

.cart-icon{
  font-size: 2rem;
  color: var(--myYellow);
  cursor: pointer;
}

.default-background,
.about-background
{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(223, 182, 2, 0.5),rgba(223, 182, 2, 0.5));
  background-size: cover;
  background-position: center;
}
.about-background{
  min-height: 60vh;
}

.btn-yellow{
  color: var(--myYellow);
  border: 1px solid var(--myYellow);
  border-radius: 0px;
  margin: 50px 5px;
  font-size: 0.8rem;
}
.btn-yellow:hover{
  color: var(--myDark);
  background-color: var(--myYellow);
  transition: 1s ease-out;
}
.footer{
  background: var(--myDark);
  color: var(--myWhite);
  font-weight: 100;
}
.footer a{
  color: var(--myWhite);
  font-weight: 100;
}
.menu,
.contact{
  background-color: var(--myGray);
}
.snipcart-summary{
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}

 button.navbar-toggle{
   margin: 0px 20px;
 }

@media(min-width:767px){
  button.navbar-toggle{
    display: none;
  }
}

.form-group lable{
    display: inline-block;
    margin-bottom: 0rem;
    margin-left: 0.15rem;
    letter-spacing: 0.2rem;
    color: #555;
}
