:root{
  --myBlue: #01639c;
  --myYellow: #dfb602;
  --myGray: #ccc;
  --myWhite: #fff;
  --myDark: #222;
}

body{
  background-color: var(--myWhite);
  color: var(--myDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 100;
  letter-spacing: 0.25rem !important;
}

.cart-icon{
  font-size: 2rem;
  color: var(--myYellow);
  cursor: pointer;
}