:root{
  --myBlue: #01639c;
  --myYellow: rgb(170, 109, 2);
  --myGray: rgb(238, 236, 236);
  --myWhite: #fff;
  --myDark: #222;
}

body{
  background-color: var(--myWhite);
  color: var(--myDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 100;
  letter-spacing: 0.25rem !important;
}

.default-background,
.about-background
{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(223, 182, 2, 0.5),rgba(223, 182, 2, 0.5));
  background-size: cover;
  background-position: center;
}
.about-background{
  min-height: 60vh;
}

.btn-yellow{
  color: var(--myYellow);
  border: 1px solid var(--myYellow);
  border-radius: 0px;
  margin: 50px 5px;
  font-size: 0.8rem;
}
.btn-yellow:hover{
  color: var(--myWhite);
  background-color: var(--myYellow);
  transition: 1s ease-out;
}



/** FOOTER STYLE */
.footer{
  background: var(--myDark);
    color: var(--myWhite);
    font-weight: 100;
    font-size: 0.75rem;
    letter-spacing: 0.08rem;
}
.footer a{
  color: var(--myWhite);
  font-weight: 100;
}

/** MENU PAGE AND CONTACT PAGE BACKGROUND */
.menu,
.contact{
  background-color: var(--myGray);
}

/** CONATACT FORM STYLE */
.form-group label{
  display: inline-block;
  margin-bottom: 0rem;
  margin-left: 0.15rem;
  letter-spacing: 0.2rem;
  color: #555;
  font-size: 0.9rem;
}



/** NAVBAR AND SHOPPING CART SUMMARY */
.navbar-collapse{
  font-size: 0.8rem;
}
.navbar-collapse ul li{
  list-style: none;
}
.cart-icon{
  font-size: 1.5rem;
  color: var(--myYellow);
  cursor: pointer;
}

.shopping-cart-item{
    display: flex;
    color: #444;
}
.shopping-cart-item li a{
  color: #444;
  font-size: 1.5rem;
}
.snipcart-user-email{
  font-size: 0.75rem;
  margin: 0px 10px;
}

.snipcart-summary{
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
    justify-content: center;
    align-items: center;
}

 button.navbar-toggle{
   margin: 0px 20px;
 }



@media(min-width:767px){
  button.navbar-toggle{
    display: none;
  }
}

